.card {
  background-color: var(--card-bg);
  border-radius: var(--radius-sm);
  width: 21.875rem;
  overflow: hidden;

  @media (min-width: 48rem) {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    width: 100%;
    max-width: 37.5rem;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: var(--spacing-400);
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.card-price {
  display: flex;
  gap: var(--spacing-200);
  align-items: center;

  & p {
    color: var(--card-text-accent);
  }
}

.card-button {
  display: inline-flex;
  justify-content: center;
  gap: var(--spacing-200);
  cursor: pointer;

  background-color: var(--button-bg);
  color: var(--white-custom);

  border: none;
  border-radius: var(--radius-sm);

  padding: var(--spacing-200) var(--spacing-400);

  &:hover {
    background-color: var(--button-bg-hover);
  }
}
